.date {
    position: absolute;
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    top: 26px;
    right: 262px;
    z-index: 9;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    display: block;
    padding: 5px 8px;
    line-height: 22px;
}

.blog-img {
    height: 260px;
    max-height: 100%;
}

.blogimg:hover a:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}

.blogimg a:before {
        background-color: #0000000d;
        position: absolute;
        left: 25px;
        right: 25px;
        top: 25px;
        bottom: 25px;
        margin: auto;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        display: block;
        content: "";
        -webkit-transition: all .35s ease 0s;
        -o-transition: all .35s ease 0s;
        transition: all .35s ease 0s;
}


.read-more {
    border : 1px solid #838383;
    border-radius: 5px;
    padding: 5px;
    transition: all .35s ease;
}

.read-more:hover {
    background-color: var(--color-primary);
    color: #fff !important;
    border-color: var(--color-primary);
}

.read-more:hover p {
    color: #fff !important;
}

.swiper > div {
    transition: all .35s ease !important;
}

